.local_onenote_linkbutton {
    background-image: url([[pix:local_onenote|onenote]]);
    background-position: 8px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #c8c6c4;
    border-radius: 4px;
    color: #323130;
    display: inline-block;
    padding: 6px 16px 6px 40px;
    margin: 5px 0;
    font-size: 14px;
}

.local_onenote_linkbutton:active,
.local_onenote_linkbutton:hover,
.local_onenote_linkbutton:visited {
    text-decoration: none;
    color: #323130;
}

.local_onenote_linkbutton:hover {
    background-color: #f3f2f1;
}