.msaccount_linkbutton
{
	background-image: url([[pix:local_msaccount|msaccount]]);
	background-position: 4px 4px;
	background-size: 102px 23px;
    background-repeat: no-repeat;
    background-color: #FEFEFE; /* #1E82CC; */ 
    color: #003D5C; 
    display: inline-block; 
    padding: 6px 6px 6px 110px;
    margin: 5px 0px;
    font-size: 14px;
}
