.local_msaccount_linkbutton
{
	background-image: url([[pix:local_msaccount|msaccount]]);
	background-position: 4px 4px;
    background-repeat: no-repeat;
    background-color: #FEFEFE; /* #1E82CC; */
    color: #003D5C;
    display: inline-block;
    padding: 6px 4px 5px 110px;
    margin: 5px 0px;
    font-size: 14px;
    border: 1px solid rgb(204, 204, 204);
    text-decoration: none;
}

.local_msaccount_linkbutton:active, .local_msaccount_linkbutton:hover, .local_msaccount_linkbutton:visited
{
	text-decoration: none !important;
    color: #003D5C;
}