.local_o365_statusmessage.alert {
  margin-bottom: 0.25rem; }
.local_o365_statusmessage img {
  margin-right: 0.25rem; }
.local_o365_statusmessage span, .local_o365_statusmessage a {
  vertical-align: middle; }

.adminsetting_sharepointlink_message, .adminsetting_sharepointlink_status {
  margin: 0 0 0.5rem 0;
  padding: 0.5rem; }
  .adminsetting_sharepointlink_message img, .adminsetting_sharepointlink_status img {
    margin-right: 0.25rem; }
  .adminsetting_sharepointlink_message span, .adminsetting_sharepointlink_status span {
    vertical-align: middle; }

.adminsetting_sharepointlink_status {
  display: none; }
  .adminsetting_sharepointlink_status.empty {
    display: block;
    padding: 0; }

.adminsetting_sharepointlink_message.loading {
  display: block;
  padding: 0;
  margin: 0.25rem 0 0.5rem 0; }

.sharepointlink_viewstatus .changesitelink {
  display: inline-block;
  margin-left: 1.5rem; }

#admin-azuresetup button.refreshperms {
  margin: 0 0 0.75rem; }

.adminsetting_azuresetup_results section {
  margin-bottom: 1rem; }
  .adminsetting_azuresetup_results section h5 {
    margin: 0 0 0.25rem; }

.o365_ucp_index .connectionstatus {
  float: right;
  width: 14rem;
  padding: 0.5rem; }
  .o365_ucp_index .connectionstatus img {
    float: left;
    padding: 0.25rem; }
  .o365_ucp_index .connectionstatus small {
    font-weight: bold;
    font-size: 0.8rem; }
  .o365_ucp_index .connectionstatus img.smallicon {
    width: 12px;
    height: 12px; }
.o365_ucp_index .features {
  margin-right: 16rem; }
  .o365_ucp_index .features > div {
    margin-bottom: 1rem; }
    .o365_ucp_index .features > div a, .o365_ucp_index .features > div b {
      background-position: 2px 0px;
      background-size: 28px;
      background-repeat: no-repeat;
      background-color: transparent;
      display: inline-block;
      padding: 4px 4px 4px 40px; }
  .o365_ucp_index .features .feature_connection a, .o365_ucp_index .features .feature_connection b {
    background-image: url([[pix:local_o365|o365color]]); }
  .o365_ucp_index .features .feature_calendar a, .o365_ucp_index .features .feature_calendar b {
    background-image: url([[pix:local_o365|outlookcolor]]); }
  .o365_ucp_index .features .feature_onenote a, .o365_ucp_index .features .feature_onenote b {
    background-image: url([[pix:local_o365|onenotecolor]]); }

.o365_ucp_featurepage h3.featureheader {
  background-position: center left;
  background-size: 28px;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 4px 4px 4px 35px; }
  .o365_ucp_featurepage h3.featureheader.feature_calendar {
    background-image: url([[pix:local_o365|outlookcolor]]); }
  .o365_ucp_featurepage h3.featureheader.feature_onenote {
    background-image: url([[pix:local_o365|onenotecolor]]); }
.o365_ucp_featurepage.feature_connection h3.featureheader {
  background-image: url([[pix:local_o365|o365color]]); }
.o365_ucp_featurepage.feature_connection div.connectionstatus {
  margin: 2rem 0; }
.o365_ucp_featurepage.feature_connection div.connectionoption {
  margin: 0 0 1rem;
  padding: 1rem; }
  .o365_ucp_featurepage.feature_connection div.connectionoption h4 {
    margin-top: 0; }

.o365toollink {
  margin-bottom: 1rem; }

.matchqueuetoolbar {
  margin: 0.75rem 0 0.5rem 0; }

table.matchqueue {
  width: 100%; }
  table.matchqueue td, table.matchqueue th {
    padding: 0.25rem 0.5rem;
    vertical-align: top; }
    table.matchqueue td:first-child, table.matchqueue th:first-child {
      width: 1.5rem;
      text-align: center; }
