.filter_oembed_lazyvideo_placeholder {
    width: 100%;
}

a.filter_oembed_lazyvideo {
    display: block;
}

.filter_oembed_lazyvideo_container {
    max-width: 560px;
    position: relative;
    &:hover {
        .filter_oembed_lazyvideo_playbutton {
            background-image: url([[pix:filter_oembed|purplebutton]]);
        }
    }
    .filter_oembed_lazyvideo_playbutton {
        &:hover {
            background-image: url([[pix:filter_oembed|purplebutton]]);
        }
        left: 40%;
        position: absolute;
        z-index: 1000 !important;
        top: 40%;
        width: 20%;
        height: 25%;
        background-image: url([[pix:filter_oembed|darkbutton]]);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.filter_oembed_lazyvideo_title, .filter_oembed_lazyvideo_footer {
    position: absolute;
    background-color: #000;
    width: 100%;
    color: #ddd;
}

.filter_oembed_lazyvideo_title {
    top: 0;
}

.filter_oembed_lazyvideo_footer {
    bottom: 0;
}

.filter_oembed_lazyvideo_text {
    padding: 5px;
}

.filter_oembed_docsdotcom {
    iframe {
        width: 100%;
        height: 400px;
    }
}