.block_microsoft h5 {
    font-size: 95%;
    text-align: center;
}

.block_microsoft ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.block_microsoft ul .servicelink {
    background-position: 2px 0;
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    padding: 4px 4px 4px 40px;
    margin: 0.2rem 0;
}

.block_microsoft ul .servicelink:active,
.block_microsoft ul .servicelink:hover,
.block_microsoft ul .servicelink:visited {
    text-decoration: none;
}

.block_microsoft .block_microsoft_onedrive {
    background-image: url([[pix:block_microsoft|onedrive]]);
}

.block_microsoft .block_microsoft_sway {
    background-image: url([[pix:block_microsoft|sway]]);
}

.block_microsoft .block_microsoft_msstream {
    background-image: url([[pix:block_microsoft|stream]]);
}

.block_microsoft .block_microsoft_msteams {
    background-image: url([[pix:block_microsoft|teams]]);
}

.block_microsoft .block_microsoft_onenote {
    background-image: url([[pix:block_microsoft|onenote]]);
}

.block_microsoft .block_microsoft_outlook {
    background-image: url([[pix:block_microsoft|outlook]]);
}

.block_microsoft .block_microsoft_connection {
    background-image: url([[pix:block_microsoft|microsoft365]]);
}

.block_microsoft .block_microsoft_delve {
    background-image: url([[pix:block_microsoft|delve]]);
}

.block_microsoft .block_microsoft_forms {
    background-image: url([[pix:block_microsoft|forms]]);
}

.block_microsoft .block_microsoft_sharepoint {
    background-image: url([[pix:block_microsoft|sharepoint]]);
}

.block_microsoft .block_microsoft_preferences {
    background-image: url([[pix:moodle|i/settings]]);
}

.block_microsoft .block_microsoft_msasignin {
    background-image: url([[pix:block_microsoft|microsoft]]);
}

.block_microsoft .block_microsoft_downloado365 {
    background-image: url([[pix:moodle|i/restore]]);
}

.block_microsoft .block_microsoft_team {
    background-image: url([[pix:block_microsoft|teams]]);
}

.block_microsoft .block_microsoft_conversations {
    background-image: url([[pix:block_microsoft|outlook]]);
}

.block_microsoft .block_microsoft_calendar {
    background-image: url([[pix:block_microsoft|calendar]]);
}

.block_microsoft .block_microsoft_notebook {
    background-image: url([[pix:block_microsoft|onenote]]);
}

.block_microsoft .block_microsoft_sync {
    background-image: url([[pix:moodle|i/settings]]);
}

.block_microsoft .block_microsoft_reset {
    background-image: url([[pix:moodle|t/reset]]);
}

.block_microsoft .block_microsoft_courserequest {
    background-image: url([[pix:block_microsoft|courserequest]]);
}

.block_microsoft .block_microsoft_word {
    background-image: url([[pix:block_microsoft|word]]);
}

.block_microsoft .block_microsoft_excel {
    background-image: url([[pix:block_microsoft|excel]]);
}

.block_microsoft .block_microsoft_powerpoint {
    background-image: url([[pix:block_microsoft|powerpoint]]);
}

.block_microsoft .block_microsoft_vivaengage {
    background-image: url([[pix:block_microsoft|vivaengage]]);
}

.block_microsoft .block_microsoft_vivaamplify {
    background-image: url([[pix:block_microsoft|vivaamplify]]);
}

.block_microsoft .block_microsoft_vivaconnections {
    background-image: url([[pix:block_microsoft|vivaconnections]]);
}

.block_microsoft .block_microsoft_vivaglint {
    background-image: url([[pix:block_microsoft|vivaglint]]);
}

.block_microsoft .block_microsoft_vivagoals {
    background-image: url([[pix:block_microsoft|vivagoals]]);
}

.block_microsoft .block_microsoft_vivainsights {
    background-image: url([[pix:block_microsoft|vivainsights]]);
}

.block_microsoft .block_microsoft_vivalearning {
    background-image: url([[pix:block_microsoft|vivalearning]]);
}

.block_microsoft .block_microsoft_vivapulse {
    background-image: url([[pix:block_microsoft|vivapulse]]);
}

.block_microsoft .block_microsoft_linkedin {
    background-image: url([[pix:block_microsoft|linkedin]]);
}

.block_microsoft hr {
    margin: 1rem 0;
}
