.block_microsoft h5 {
  font-size: 95%;
  text-align: center; }
.block_microsoft ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }
  .block_microsoft ul .servicelink {
    background-position: 2px 0px;
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    padding: 4px 4px 4px 40px;
    margin: 0.2rem 0; }
    .block_microsoft ul .servicelink:active, .block_microsoft ul .servicelink:hover, .block_microsoft ul .servicelink:visited {
      text-decoration: none !important; }
.block_microsoft .block_microsoft_onenote {
  background-image: url([[pix:block_microsoft|onenotecolor]]); }
.block_microsoft .block_microsoft_outlook {
  background-image: url([[pix:block_microsoft|outlookcolor]]); }
.block_microsoft .block_microsoft_connection {
  background-image: url([[pix:block_microsoft|o365color]]); }
.block_microsoft .block_microsoft_sharepoint {
  background-image: url([[pix:block_microsoft|sharepointcolor]]); }
.block_microsoft .block_microsoft_preferences {
  background-image: url([[pix:block_microsoft|msftcolor]]); }
.block_microsoft .block_microsoft_msasignin {
  background-image: url([[pix:block_microsoft|msftcolor]]); }
.block_microsoft .block_microsoft_downloado365 {
  background-image: url([[pix:block_microsoft|o365color]]); }
.block_microsoft .block_microsoft_delve {
  background-image: url([[pix:block_microsoft|delvecolor]]); }
.block_microsoft .block_microsoft_profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.block_microsoft_icon, .block_microsoft_icon_onedrive, .block_microsoft_icon_calendar, .block_microsoft_icon_conversations, .block_microsoft_icon_notebook, .block_microsoft_managegroups grouppicture {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0; }

.block_microsoft_cpicons {
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0; }

.block_microsoft_icon_onedrive {
  background-image: url([[pix:block_microsoft|onedrive]]); }

.block_microsoft_icon_calendar {
  background-image: url([[pix:block_microsoft|calendar]]); }

.block_microsoft_icon_conversations {
  background-image: url([[pix:block_microsoft|conversations]]); }

.block_microsoft_icon_notebook {
  background-image: url([[pix:block_microsoft|notebook]]); }

.block_microsoft_managegroups td {
  padding: 4px; }

.block_microsoft_cpicon, .block_microsoft_cponedrive, .block_microsoft_cpnotebook, .block_microsoft_cpconversations, .block_microsoft_cpcalendar, .block_microsoft_cpeditgroupsettings {
  height: 150px;
  width: 150px;
  margin: 15px;
  float: left; }

.block_microsoft_cponedrive {
  clear: both; }

.block_microsoft_cpconversations {
  clear: both; }

.block_microsoft_cpeditgroupsettings {
  clear: both; }
