.local_o365_statusmessage {
	margin: 0.25rem 0;
	padding: 0.5rem;
	img {
		margin-right: 0.25rem;
	}
	span, a {
		vertical-align: middle;
	}
}


.adminsetting_sharepointlink_message, .adminsetting_sharepointlink_status {
	margin: 0 0 0.5rem 0;
	padding: 0.5rem;
	img {
		margin-right: 0.25rem;
	}
	span {
		vertical-align: middle;
	}
}

.adminsetting_sharepointlink_status {
	display: none;
	&.empty {
		display: block;
		padding: 0;
	}
}

.adminsetting_sharepointlink_message.loading {
	display: block;
	padding: 0;
	margin: 0.25rem 0 0.5rem 0;
}

.sharepointlink_viewstatus .changesitelink {
	display: inline-block;
	margin-left: 1.5rem;
}

#admin-azuresetup {
	button.refreshperms {
		margin: 0 0 0.75rem;
	}
}

.adminsetting_azuresetup_results {
	section {
		margin-bottom: 1rem;
		h5 {
			margin: 0 0 0.25rem;
		}
	}
}