.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.65) 50% 50% url("pix/loading.gif") no-repeat;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 2px;
    padding-bottom: 10px;
    display: inline-block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.container {
    position: relative;
    margin: 20px auto 40px 30px;
}

.block_skypeweb .wrappingdiv .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
}

.block_skypeweb .wrappingdiv .menu h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.block_skypeweb .wrappingdiv .menu .nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block_skypeweb .wrappingdiv .menu .nav li {
    margin: 5px;
    background-color: white;
}

.block_skypeweb .wrappingdiv .menu .nav li a {
    color: #31343d;
    padding: 0.5em;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .menu .idleNav {
    border-left: 5px solid #b6cfd8;
}

.block_skypeweb .wrappingdiv .menu .idleNav:hover {
    border-left: 5px solid #7FBA00;
}

.block_skypeweb .wrappingdiv .selectedNav {
    border-left: 5px solid #c23a2b !important;
}

.block_skypeweb .wrappingdiv .content {
    width: 800px;
    top: 0;
    left: 290px;
    position: absolute;
}

.block_skypeweb .wrappingdiv .login-options {
    margin-top: 20px;
}

.block_skypeweb .wrappingdiv .login-options div {
    margin-top: 10px;
}

.block_skypeweb .wrappingdiv .sign-in {
    display: none;
}

.block_skypeweb .wrappingdiv .token-sign-in {
    display: none;
    margin-top: 20px;
}

.block_skypeweb .wrappingdiv .sign-in h1, .block_skypeweb .wrappingdiv .token-sign-in h1, .block_skypeweb .wrappingdiv .cc-login-options h1 {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 170px;
    min-width: 170px;
    font-size: inherit;
    font-size: 22px;
    color: #0099FF;
}

.block_skypeweb .wrappingdiv .cc-conversationControlsHost h1 {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100px;
    font-size: inherit;
    font-size: 20px;
    color: #0099FF;
}

.block_skypeweb .wrappingdiv .sign-in div, .block_skypeweb .wrappingdiv .token-sign-in div, .block_skypeweb .wrappingdiv .sign-out, .block_skypeweb .wrappingdiv .cc-login-options div, .block_skypeweb .wrappingdiv .cc-conversationControlsHost div {
    margin-top: 20px;
}

.block_skypeweb .wrappingdiv .sign-in #txt-username, .block_skypeweb .wrappingdiv .sign-in #txt-password, .block_skypeweb .wrappingdiv .token-sign-in #txt-domain, .block_skypeweb .wrappingdiv .token-sign-in #txt-token, .block_skypeweb .wrappingdiv .cc-login-options input, .block_skypeweb .wrappingdiv .cc-conversationControlsHost input {
    height: 26px;
}

.block_skypeweb .wrappingdiv .cc-conversationControlsHost input {
    width: 250px;
    margin-right: 20px;
    margin-left: 10px;
}

.block_skypeweb .wrappingdiv .sign-in #btn-sign-in, .block_skypeweb .wrappingdiv .sign #btn-token-sign-in, .block_skypeweb .wrappingdiv #btn-token-sign-in, .block_skypeweb .wrappingdiv #cc-btn-sign-in, .block_skypeweb .wrappingdiv #cc-btn-startConversation, .block_skypeweb .wrappingdiv #cc-btn-stopConversation {
    width: 200px;
    font-size: 20px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 0.4em;
}

.block_skypeweb .wrappingdiv .sign-out #btn-sign-out {
    height: 23px;
    width: 80px;
    font-size: 18px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.block_skypeweb .wrappingdiv .sign-in #btn-sign-in:hover, .block_skypeweb .wrappingdiv .sign-out #btn-sign-out:hover, .block_skypeweb .wrappingdiv #btn-token-sign-in:hover, .block_skypeweb .wrappingdiv #cc-btn-sign-in:hover, .block_skypeweb .wrappingdiv #cc-btn-startConversation:hover, .block_skypeweb .wrappingdiv #cc-btn-stopConversation:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .self, .block_skypeweb .wrappingdiv .search, .block_skypeweb .wrappingdiv .contact, .block_skypeweb .wrappingdiv .groups, .block_skypeweb .wrappingdiv .noMe, .block_skypeweb .wrappingdiv .signed-in, .block_skypeweb .wrappingdiv .noconvocontrol, .block_skypeweb .wrappingdiv .useConvoControl {
    margin-top: 20px;
}

.block_skypeweb .wrappingdiv .noMe,  .block_skypeweb .wrappingdiv .stopConvo, .block_skypeweb .wrappingdiv .useConvoControl, .block_skypeweb .wrappingdiv .signed-in {
    display: none;
}

#sel-presence {
    position: relative;
    left: -3px;
    margin: 7px 0px 0px 0px;
    border: 0px;
    font-size: 14px;
    border-radius: 3px;
    transition: background 0.1s;
}

.block_skypeweb .wrappingdiv #sel-presence:hover,
.block_skypeweb .wrappingdiv #sel-presence:focus {
    background: #ccc;
}

.block_skypeweb .wrappingdiv .search #txt-query {
    width: 200px;
    height: 27px;
    position: relative;
    top: -15px;
}

.block_skypeweb .wrappingdiv .search #btn-search:hover, .block_skypeweb .wrappingdiv .audio-video-manager #btn-search:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .contact #btn-get-contact {
    font-size: 18px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 5px;
    vertical-align: top;
}

.block_skypeweb .wrappingdiv .contact #useruri {
    position: relative;
    width: 70%;
    vertical-align: top;
}

.block_skypeweb .wrappingdiv .contact #subscribe, .block_skypeweb .wrappingdiv .contact #subscribe2, .block_skypeweb .wrappingdiv .contact #unsubscribe {
    //height: 28px;
    //width: 385px;
    width: 95%;
    font-size: 19px;
    background-color: #109ede;
    color: #ffffff;
    text-align: center;
    margin-top: 12px;
    padding: 8px;
    display: block;
}

.block_skypeweb .wrappingdiv .contact #btn-get-contact:hover, .block_skypeweb .wrappingdiv .contact #subscribe:hover, .block_skypeweb .wrappingdiv .contact #subscribe2:hover, .block_skypeweb .wrappingdiv .contact #unsubscribe:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .groups .group-name {
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    background-color: #888888;
    //width: 160px;
    width: 95%;
    padding: 5px;
}

.block_skypeweb .wrappingdiv .groups li {
    list-style: none;
    margin-top: 5px;
    padding-left: 5px;
}

.block_skypeweb .wrappingdiv .outgoing-im #to {
    width: 180px;
    height: 27px;
}

.block_skypeweb .wrappingdiv .outgoing-im #btn-start-im {
    height: 23px;
    width: 120px;
    font-size: 18px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.block_skypeweb .wrappingdiv .outgoing-im #chatinput {
    height: 30px;
    border: solid 1px #aaaaaa;
    display: none;
    margin-top: 10px;
}

.block_skypeweb .wrappingdiv .outgoing-im #btn-start-im:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .device-manager .status {
    margin-top: 36px;
    line-height: 28px;
}

.block_skypeweb .wrappingdiv .audio-video-manager .chat-container {
    -display: none;
    width: 260px;
    background-color: #F5FAFC;
    height: auto;
    color: #33353A;
    font: 100%/1.25em "Segoe UI Local","Segoe WP","Segoe UI Web","SkypeIcon",Tahoma,"Helvetica Neue",Helvetica,"Meiryo UI",Meiryo,Arial Unicode MS,sans-serif;
}

.block_skypeweb .wrappingdiv .audio-video-manager .conversation-header {
    height: 106px;
    border: solid 1px #cccccc;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.block_skypeweb .wrappingdiv .audio-video-manager .contact-name {
    font-weight: 600;
    font-size: 18px;
}

.block_skypeweb .wrappingdiv .presence-status {
    border: 4px solid #A2C5D3;
    height: 8px;
    width: 8px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
}

.block_skypeweb .wrappingdiv .presence-Online {
    border-color: #7FBA00;
}

.block_skypeweb .wrappingdiv .presence-Offline {
    border-color: #A2C5D3;
}

.block_skypeweb .wrappingdiv .presence-Away, .block_skypeweb .wrappingdiv .presence-BeRightBack {
    border-color: #FCD116;
}

.block_skypeweb .wrappingdiv .presence-Busy, .block_skypeweb .wrappingdiv .presence-DoNotDisturb {
    border-color: #E81123;
}

.block_skypeweb .wrappingdiv .audio-video-manager .location {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.block_skypeweb .wrappingdiv .sender {
    font-weight: bold;
}

.block_skypeweb .wrappingdiv #stop {
    height: 28px;
    width: 180px;
    font-size: 18px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 16px 16px 16px 0px;
}

.block_skypeweb .wrappingdiv .conversation-con {
    display: none;
}

.block_skypeweb .wrappingdiv .av-container {
    background-color: #0170ab;
    position: relative;
    padding: 5px;
}

.block_skypeweb .wrappingdiv .av-container > * {
    margin: 10px;
}

.block_skypeweb .wrappingdiv .av-container .right-controls {
    float: right;
}

.block_skypeweb .wrappingdiv .av-container .ctr-buttons {
    display: flex;
    position: relative;
    height: auto;
    margin: 8px;
    justify-content: center;
    align-items: center;
}

.block_skypeweb .wrappingdiv .av-container .ctr-buttons > * {
    margin: 8px;
}

.block_skypeweb .wrappingdiv .av-container .c-name {
    color: #ffffff;
}

.block_skypeweb .wrappingdiv .av-container .render-window {
    margin: 10px auto;
    position: static;
    display: block;
    width: 260px;
    height: 260px;
    background-image: url(pix/default.png);
    background-position: center;
    background-repeat: no-repeat;
}

.block_skypeweb .wrappingdiv #av-add-p {
    margin-bottom: 10px;
}

.block_skypeweb .wrappingdiv #txt-contact {
    height: 25px;
}

.block_skypeweb .wrappingdiv .iconfont {
    background-color: #00AFF0;
    font-size: 2em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    direction: ltr;
    display: inline-block;
    outline: 0;
    position: relative;
    speak: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.block_skypeweb .wrappingdiv .iconfont:hover {
    opacity: 0.6;
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .iconfont:before {
    float: none;
    font-size: 30px;
    line-height: 0;
    margin-right: 5px;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #ffffff;
}

.block_skypeweb .wrappingdiv .iconfont:before, .block_skypeweb .wrappingdiv .iconfont:after {
    font-family: 'SkypeIcon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.block_skypeweb .wrappingdiv .iconfont.addp-ok:before {
    content: "\e412";
}

.block_skypeweb .wrappingdiv .iconfont.search:before {
    content: "\e406";
}

.block_skypeweb .wrappingdiv .iconfont.chat:before {
    content: "\e300";
}

.block_skypeweb .wrappingdiv .iconfont.videoOn:before {
    content: "\e102";
}

.block_skypeweb .wrappingdiv .iconfont.videoOff:before {
    content: "\e103";
}

.block_skypeweb .wrappingdiv .iconfont.mic-on:before {
    content: "\e106";
}

.block_skypeweb .wrappingdiv .iconfont.mic-off:before {
    content: "\e107";
}

.block_skypeweb .wrappingdiv .iconfont.callStart:before {
    content: "\e100";
}

.block_skypeweb .wrappingdiv .iconfont.contactAdd:before {
    content: "\e201";
}

.block_skypeweb .wrappingdiv .iconfont.fullscreenOn:before {
    content: "\e404";
}

.block_skypeweb .wrappingdiv .iconfont.hang-up {
    background-color: red;
}

.block_skypeweb .wrappingdiv .iconfont.hang-up:before {
    content: "\e101";
}

.block_skypeweb .wrappingdiv .hide {
    display: none;
}

.block_skypeweb .wrappingdiv .loading {
    position: absolute;
    top: 116px;
    left: 0px;
    width: 260px;
    height: 260px;
    background-image: url("pix/loading.png");
    background-size: 260px 260px;
    display: none;
}

.block_skypeweb .wrappingdiv .load-content {
    display: inline-block;
    margin-top: 120px;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

.block_skypeweb .wrappingdiv .sdk-input {
    border: 1pt solid gray;
    padding: 2pt;
    overflow: hidden;
    white-space: nowrap;
}

.block_skypeweb .wrappingdiv .button {
    cursor: pointer;
    padding: 2pt 5pt;
    display: inline-block;
    -height: 23px;
    font-size: 18px;
    background-color: #109ede;
    color: #ffffff;
    margin-top: 2px;
}

.block_skypeweb .wrappingdiv .button:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .signinframe > div {
    margin-bottom: 3pt;
}

.block_skypeweb .wrappingdiv .signinframe > .button {
    margin-top: 8pt;
}

.block_skypeweb .wrappingdiv .chat-box {
    width: 260px;
    height: 480px;
    position: relative;
    border: solid 1px #cccccc;
    -display: none;
}

.block_skypeweb .wrappingdiv .chat-service .chat-box {
    height: 520px;
    position: relative;
    margin-top: 10px;
    background-color: #F5FAFC;
}

.block_skypeweb .wrappingdiv .message-list {
    height: 435px;
    overflow-y: auto;
    padding: 5px;
}

.block_skypeweb .wrappingdiv .input-message-box {
    height: 28px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 8px;
}

.block_skypeweb .wrappingdiv .btn-send-message {
    height: 23px;
    width: 45px !important;
    font-size: 16px;
    background-color: #109ede;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.block_skypeweb .wrappingdiv .btn-send-message:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv #txt-imput-message {
    height: 22px;
}

.block_skypeweb .wrappingdiv .video-list {
    position: absolute;
    top: 260px;
    left: 390px;
}

.block_skypeweb .wrappingdiv .video-window {
    width: 300px;
    height: 300px;
    background-color: green;
    margin-bottom: 8px;
}

.block_skypeweb .wrappingdiv .tag {
    float: left;
    width: 110px;
    text-align: right;
    padding: 1pt 5pt;
    margin-top: 2pt;
}

.block_skypeweb .wrappingdiv .input {
    border: 1pt solid gray;
    padding: 2pt;
    overflow: hidden;
    white-space: nowrap;
    width: 260pt;
    height: 15pt;
    margin-top: 2pt;
}

.block_skypeweb .wrappingdiv .list-div select {
    border: 1pt solid gray;
    overflow: hidden;
    white-space: nowrap;
    width: 266pt;
    margin-top: 2pt;
}

.block_skypeweb .wrappingdiv button {
    background-color: #109ede;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    display: inline-block;
    margin-top: 2pt;
    font-family: inherit;
    border: 0px;
    font-size: 18px;
    width: 95%;
}

.block_skypeweb .wrappingdiv .readme_button {
    cursor: pointer;
    padding: 2pt;
    display: inline-block;
}

.block_skypeweb .wrappingdiv .person-group-manager .signinframe {
    padding: 5pt;
}

.block_skypeweb .wrappingdiv .signed-in .noconvocontrol {
    margin-top: 60px;
}

.block_skypeweb .wrappingdiv .conference .add-p-container {
    display: inline-block;
}

.block_skypeweb .wrappingdiv .conference #txt-contact {
    position: relative;
    top: -15px;
}

.block_skypeweb .wrappingdiv .conference #btn-add-participant {
    position: relative;
    top: -10px;
}

.block_skypeweb .wrappingdiv .conference #btn-add-participant:hover {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .hide {
    visibility: hidden;
}

.block_skypeweb .wrappingdiv .c-add-p-container {
    display: inline-block;
    position: relative;
    top: 15px;
}

.block_skypeweb .wrappingdiv #newMeetingUri {
    display: inline-block;
    position: relative;
}

.block_skypeweb .wrappingdiv .persona {
    position: relative;
    width: 95%;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 10px 0px;
}

.block_skypeweb .wrappingdiv .self .persona {
    text-align: center;
}

.block_skypeweb .wrappingdiv .persona .note-c {
    display: block;
    margin: -1px;
    padding: 0px;
    position: relative;
    text-align: left;
}

.block_skypeweb .wrappingdiv .persona .note-c :first-child {
    margin: 0px;
    padding: 4px 4px 4px 11px;
    border: 1px solid #00aff0;
    background-color: #00aff0;
    color: white;
    min-height: 1em;
}

.block_skypeweb .wrappingdiv .persona .note-c .editable:hover {
    background-color: #c0dce6;
    border-color: #c0dce6;
    color: black;
}

.block_skypeweb .wrappingdiv .persona .note-c .editable:focus {
    background-color: white;
    color: black;
}

.block_skypeweb .wrappingdiv .persona .note-c :first-child + .tick {
    display: block;
    position: absolute;
    left: 100px;
    width: 0;
    height: 0;
    border-top: 10px solid #00aff0;
    border-right: 10px solid transparent;
}

.block_skypeweb .wrappingdiv .persona .note-c .editable:hover + .tick {
    border-top-color: #c0dce6;
}

.block_skypeweb .wrappingdiv .persona .photo-c {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 5px;
}

.block_skypeweb .wrappingdiv .persona .photo-c img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence {
    background: white;
    background-image: url(pix/presence/unknown.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-Away,
.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-BeRightBack {
    background-image:  url([[pix:block_skypeweb|away]]);
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-Online {
    background-image:  url([[pix:block_skypeweb|available]]);
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-Busy {
    background-image:  url([[pix:block_skypeweb|busy]]);
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-DoNotDisturb {
    background-image:  url([[pix:block_skypeweb|do-not-disturb]]);
}

.block_skypeweb .wrappingdiv .persona .photo-c .photo-presence.photo-presence-Offline {
    display: none;
}

.block_skypeweb .wrappingdiv .persona .detail {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.block_skypeweb .wrappingdiv .persona .detail .primary {
    font-size: 21px;
    margin: 0px;
}

.block_skypeweb .wrappingdiv .persona .detail .secondary {
    font-size: 14px;
    margin: 0px;
}

.block_skypeweb .wrappingdiv .persona .detail .tertiary {
    font-size: 14px;
    color: #666;
    margin: 0px;
}

.block_skypeweb .wrappingdiv .persona .detail .editable {
    position: relative;
    left: -5px;
    top: -1px;
    outline: none;
    padding: 1px 5px 2px 5px;
    margin: 3px 0px;
    transition: background 0.1s;
}

.block_skypeweb .wrappingdiv .persona .detail .editable:focus,
.block_skypeweb .wrappingdiv .persona .detail .editable:hover {
    background-color: #ccc;
    border-radius: 3px;
}

.block_skypeweb .wrappingdiv .persona-small .photo-c {
    width: 30px;
    height: 30px;
}

.block_skypeweb .wrappingdiv .persona-small .detail .primary {
    font-size: 0.9rem;
}

.block_skypeweb .wrappingdiv .persona-small .detail .secondary {
    font-size: 0.9rem;
}

.block_skypeweb .wrappingdiv .persona-small .detail .tertiary {
    font-size: 0.9rem;
}

.block_skypeweb .wrappingdiv .persona-xl .detail {
    margin: 8px;
    text-align: left;
}

.block_skypeweb .wrappingdiv .persona-xl .photo-c {
    width: 90px;
    height: 90px;
    margin: 8px;
}

.block_skypeweb .wrappingdiv .persona-xl .photo-c .photo-presence {
    border: 3px solid white;
}

.block_skypeweb .wrappingdiv .persona-list .persona {
    border: 0px;
    margin: 0px;
}

.block_skypeweb .wrappingdiv .editable {
    cursor: pointer;
}

.block_skypeweb .wrappingdiv div.editable:empty:not(:focus):after {
    content: attr(placeholder);
}

.block_skypeweb .wrappingdiv .icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    background-color: #00aff0;
    border-radius: 15px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.block_skypeweb .wrappingdiv .icon:hover {
    background-color: #777;
}

.block_skypeweb .wrappingdiv .icon-chat {
    background-image: url(images/ico-chat.svg);
}

.block_skypeweb .wrappingdiv .icon-close {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(images/ico-close.svg);
    background-size: 10px 10px;
}

.block_skypeweb .wrappingdiv .icon-close:hover {
    background-color: #e6e6e6;
}

.block_skypeweb .wrappingdiv .icon-vid-cam {
    background-image: url(images/ico-vid-cam.svg);
}

.block_skypeweb .wrappingdiv .icon-vid-camno {
    background-image: url(images/ico-vid-camno.svg);
}

.block_skypeweb .wrappingdiv .icon-vid-chat {
    background-image: url(images/ico-vid-chat.svg);
}

.block_skypeweb .wrappingdiv .icon-vid-chatno {
    background-image: url(images/ico-vid-chatno.svg);
}

.block_skypeweb .wrappingdiv .icon-vid-phone {
    background-image: url(images/ico-vid-phone.svg);
}

.block_skypeweb .wrappingdiv .icon-vid-phoneno {
    background-image: url(images/ico-vid-phoneno.svg);
}

.block_skypeweb .wrappingdiv #selfCam {
    position: absolute;
    top: 20%;
    left: 50%;
}

.block_skypeweb .wrappingdiv .conversation {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e6e6e6;
    padding: 0px;
    margin: 10px;
    width: 90%;
}

.block_skypeweb .wrappingdiv .conversation .header {
    color: #333;
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.block_skypeweb .wrappingdiv .conversation .header div, .block_skypeweb .wrappingdiv .conversation .header a {
    display: inline-block;
    vertical-align: middle;
}

.block_skypeweb .wrappingdiv .conversation .header h3 {
    margin: 0px 0px 5px 0px;
}

.block_skypeweb .wrappingdiv .conversation .header .chat-name,
.block_skypeweb .wrappingdiv .conversation .header .notification {
    display: block;
    margin-bottom: 10px;
}

.block_skypeweb .wrappingdiv .conversation .header .editable {
    width: 200px;
    border: 1px solid #e6e6e6;
    padding: 6px;
}

.block_skypeweb .wrappingdiv .conversation .header .editable:empty {
    color: #777;
}

.block_skypeweb .wrappingdiv .conversation .header .right-controls {
    display: block;
    float: right;
}

.block_skypeweb .wrappingdiv .conversation .controls {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.block_skypeweb .wrappingdiv .conversation .messages {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px 10px;
}

.block_skypeweb .wrappingdiv .conversation .messages::-webkit-scrollbar {
    -webkit-appearance: none;
}

.block_skypeweb .wrappingdiv .conversation .messages::-webkit-scrollbar:vertical {
    width: 11px;
}

.block_skypeweb .wrappingdiv .conversation .messages::-webkit-scrollbar:horizontal {
    height: 11px;
}

.block_skypeweb .wrappingdiv .conversation .messages::-webkit-scrollbar-thumb {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.08);
}

.block_skypeweb .wrappingdiv .conversation .messages::-webkit-scrollbar-track {
    background-color: #fff;
}

.block_skypeweb .wrappingdiv .conversation .messages .message {
    width: 100%;
}

.block_skypeweb .wrappingdiv .conversation .chatinput {
    font-size: 14px;
    margin: 0px;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
}

.block_skypeweb .wrappingdiv .conversation .chatinput:empty {
    color: #777;
}

.block_skypeweb .wrappingdiv .message {
    margin: 15px 0px;
    width: 50%;
    position: relative;
}

.block_skypeweb .wrappingdiv .message .sender {
    padding-left: 12px;
    color: #93999D;
    font-size: 11px;
    line-height: 20px;
}

.block_skypeweb .wrappingdiv .message .text {
    color: #333;
    background: #e9e9e9;
    padding: 5px 12px 7px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
}

.block_skypeweb .wrappingdiv .message .text:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 3px solid #e9e9e9;
    left: -3px;
    bottom: 12px;
}

.block_skypeweb .wrappingdiv .message.fromMe .text {
    background: #92989C;
    color: #fff;
}

.block_skypeweb .wrappingdiv .message.fromMe .text:after {
    border-right: 0px;
    border-left: 3px solid #92989C;
    right: -3px;
    left: auto;
    bottom: auto;
    top: 60%;
}

#cc-conversations {
    position: relative;
    width: 800px;
    left: 290px;
    top: 150px;
    height: 400px;
}
